E8.project_Movielens_Recommandation
===
---

넷플릭스에서는 사용자가 시청한 영화를 토대로 다른 영화들을 추천해줍니다. 이번 프로젝트로 CSR matrix를 사용하여 추천시스템 만들기를 도전해보겠습니다.


![netflix-ec82acec9aa9eab8b0_image-8](https://user-images.githubusercontent.com/70703320/107152448-46052b00-69ab-11eb-914f-7b8148b32956.png)

[이미지 출처](https://byline.network/2016/07/1-225/)

영화데이터에 대한 정보는 [이곳](https://biology-statistics-programming.tistory.com/47) 정리해주었습니다.



## 1. 데이터 준비와 전처리

### 필요한 라이브러리 불러오기

In [1]:
import os
import pandas as pd
import numpy as np
from scipy.sparse import csr_matrix
from implicit.als import AlternatingLeastSquares
import os
import numpy as np

### 데이터 불러와서 확인해보기

In [2]:
rating_file_path=os.getenv('HOME') + '/aiffel/recommendata_iu/data/ml-1m/ratings.dat'
ratings_cols = ['user_id', 'movie_id', 'rating', 'timestamp']
ratings = pd.read_csv(rating_file_path, sep='::', names=ratings_cols, engine='python')
orginal_data_size = len(ratings)
ratings.head()

   user_id  movie_id  rating  timestamp
0        1      1193       5  978300760
1        1       661       3  978302109
2        1       914       3  978301968
3        1      3408       4  978300275
4        1      2355       5  978824291

### rating이 3점 이상인 것만 남겨주기

In [3]:
ratings = ratings[ratings['rating']>=3]
filtered_data_size = len(ratings)

print(f'orginal_data_size: {orginal_data_size}, filtered_data_size: {filtered_data_size}')
print(f'Ratio of Remaining Data is {filtered_data_size / orginal_data_size:.2%}')

orginal_data_size: 1000209, filtered_data_size: 836478
Ratio of Remaining Data is 83.63%

### rating컬럼의 이름을 count로 바꿔준 후 확인하기

In [4]:
ratings.rename(columns={'rating':'count'}, inplace=True)
ratings['count']

0          5
1          3
2          3
3          4
4          5
          ..
1000203    3
1000205    5
1000206    5
1000207    4
1000208    4
Name: count, Length: 836478, dtype: int64

### 영화 제목을 보기 위해 다른 파일 불러오기

In [5]:
movie_file_path=os.getenv('HOME') + '/aiffel/recommendata_iu/data/ml-1m/movies.dat'
cols = ['movie_id', 'title', 'genre'] 
movies = pd.read_csv(movie_file_path, sep='::', names=cols, engine='python', encoding = "ISO-8859-1")
movies.head()

   movie_id                               title                         genre
0         1                    Toy Story (1995)   Animation|Children's|Comedy
1         2                      Jumanji (1995)  Adventure|Children's|Fantasy
2         3             Grumpier Old Men (1995)                Comedy|Romance
3         4            Waiting to Exhale (1995)                  Comedy|Drama
4         5  Father of the Bride Part II (1995)                        Comedy

## 2. 분석 


### 유저 수

In [6]:
ratings['movie_id'].nunique()

3628

### 사용자 수

In [7]:
ratings['user_id'].nunique()

6039

### 가장 인기 많은 영화 30개 출력

In [8]:
# 앞선 두 데이터프레임을 합쳐서 출력해보기
mv_total = pd.merge(ratings, movies, how='left')
mv_total

mv_count = mv_total.groupby('title')['user_id'].count()
mv_count.sort_values(ascending=False).head(30)

title
American Beauty (1999)                                   3211
Star Wars: Episode IV - A New Hope (1977)                2910
Star Wars: Episode V - The Empire Strikes Back (1980)    2885
Star Wars: Episode VI - Return of the Jedi (1983)        2716
Saving Private Ryan (1998)                               2561
Terminator 2: Judgment Day (1991)                        2509
Silence of the Lambs, The (1991)                         2498
Raiders of the Lost Ark (1981)                           2473
Back to the Future (1985)                                2460
Matrix, The (1999)                                       2434
Jurassic Park (1993)                                     2413
Sixth Sense, The (1999)                                  2385
Fargo (1996)                                             2371
Braveheart (1995)                                        2314
Men in Black (1997)                                      2297
Schindler's List (1993)                                  2257
Princess Bride, The (1987)                               2252
Shakespeare in Love (1998)                               2213
L.A. Confidential (1997)                                 2210
Shawshank Redemption, The (1994)                         2194
Godfather, The (1972)                                    2167
Groundhog Day (1993)                                     2121
E.T. the Extra-Terrestrial (1982)                        2102
Being John Malkovich (1999)                              2066
Ghostbusters (1984)                                      2051
Pulp Fiction (1994)                                      2030
Forrest Gump (1994)                                      2022
Terminator, The (1984)                                   2019
Toy Story (1995)                                         2000
Fugitive, The (1993)                                     1941
Name: user_id, dtype: int64

## 3. 내가 선호하는 영화를 5가지 골라서 rating에 추가

> 저의 픽은 American Beauty (1999),  Sixth Sense, The (1999), Men in Black (1997), Terminator, The (1984), Toy Story (1995) 입니다.

### movie_id 확인해보기

In [9]:
my_favorite = ['American Beauty (1999)' , 'Sixth Sense, The (1999)' ,'Men in Black (1997)' ,'Terminator, The (1984)' ,'Toy Story (1995)']

for movie in my_favorite:
    print(movies[movies['title'] == movie])
    print('--------------------------------------------------------------------')

      movie_id                   title         genre
2789      2858  American Beauty (1999)  Comedy|Drama
--------------------------------------------------------------------
      movie_id                    title     genre
2693      2762  Sixth Sense, The (1999)  Thriller
--------------------------------------------------------------------
      movie_id                title                           genre
1539      1580  Men in Black (1997)  Action|Adventure|Comedy|Sci-Fi
--------------------------------------------------------------------
      movie_id                   title                   genre
1220      1240  Terminator, The (1984)  Action|Sci-Fi|Thriller
--------------------------------------------------------------------
   movie_id             title                        genre
0         1  Toy Story (1995)  Animation|Children's|Comedy
--------------------------------------------------------------------

### 데이터 프레임에 추가해보기
> 여기서 저의 아이디는 hibiscircus, 별점은 5로 주었습니다.

In [10]:
my_mvid = [2858, 2762, 1580, 1240, 1]

# 960917이라는 아이디 추가
my_movielist = pd.DataFrame({'user_id': ['hibiscircus']*5, 'count':[5]*5, 'movie_id': [2858, 2762, 1580, 1240, 1]})

if not ratings.isin({'user_id':[960917]})['user_id'].any():  # user_id에 'zimin'이라는 데이터가 없다면
    ratings = ratings.append(my_movielist)                           # 위에 임의로 만든 my_favorite 데이터를 추가해 줍니다. 

ratings.tail(10)       # 잘 추가되었는지 확인해 봅시다.

             user_id  movie_id  count    timestamp
1000203         6040      1090      3  956715518.0
1000205         6040      1094      5  956704887.0
1000206         6040       562      5  956704746.0
1000207         6040      1096      4  956715648.0
1000208         6040      1097      4  956715569.0
0        hibiscircus      2858      5          NaN
1        hibiscircus      2762      5          NaN
2        hibiscircus      1580      5          NaN
3        hibiscircus      1240      5          NaN
4        hibiscircus         1      5          NaN

### 사용하는 컬럼만 남겨주기 (timestamp 컬럼 제거)

In [11]:
using_cols = ['user_id', 'movie_id', 'count']
ratings = ratings[using_cols]
ratings

        user_id  movie_id  count
0             1      1193      5
1             1       661      3
2             1       914      3
3             1      3408      4
4             1      2355      5
..          ...       ...    ...
0   hibiscircus      2858      5
1   hibiscircus      2762      5
2   hibiscircus      1580      5
3   hibiscircus      1240      5
4   hibiscircus         1      5

[836483 rows x 3 columns]

### user_id와 movie_id 고유한 값으로 만들기

> 여기서 아주 중요한 부분인 **원래의 값과 고유한 값을 이어주는 dictionary를 생성**

In [12]:
user_unique = ratings['user_id'].unique()
movie_unique = ratings['movie_id'].unique()

user_to_idx = {v:k for k,v in enumerate(user_unique)}
movie_to_idx = {v:k for k,v in enumerate(movie_unique)}

temp_user_data = ratings['user_id'].map(user_to_idx.get).dropna()
if len(temp_user_data) == len(ratings):   
    print('user_id column indexing OK!!')
    ratings['user_id'] = temp_user_data    
else:
    print('user_id column indexing Fail!!')

temp_movie_data = ratings['movie_id'].map(movie_to_idx.get).dropna()
if len(temp_movie_data) == len(ratings):
    print('movie column indexing OK!!')
    ratings['movie_id'] = temp_movie_data
else:
    print('movie column indexing Fail!!')

ratings

user_id column indexing OK!!
movie column indexing OK!!

    user_id  movie_id  count
0         0         0      5
1         0         1      3
2         0         2      3
3         0         3      4
4         0         4      5
..      ...       ...    ...
0      6039        99      5
1      6039        38      5
2      6039       175      5
3      6039       200      5
4      6039        40      5

[836483 rows x 3 columns]

## 4. CSR matrix 만들기

In [13]:
num_user = ratings['user_id'].nunique()
num_movie = ratings['movie_id'].nunique()

csr_data = csr_matrix((ratings['count'], (ratings.user_id, ratings.movie_id)))
csr_data

<6040x3628 sparse matrix of type '<class 'numpy.int64'>'
	with 836483 stored elements in Compressed Sparse Row format>

## 5. als_model = AlternatingLeastSquares 모델을 직접 구성하여 훈련

### 실행시키기 위해 필요한 부분

In [14]:
os.environ['OPENBLAS_NUM_THREADS']='1'
os.environ['KMP_DUPLICATE_LIB_OK']='True'
os.environ['MKL_NUM_THREADS']='1'

### Implicit AlternatingLeastSquares 모델의 선언

In [15]:
als_model = AlternatingLeastSquares(factors=100, regularization=0.01, use_gpu=False, iterations=15, dtype=np.float32)

### als 모델은 input으로 (item X user 꼴의 matrix를 받기 때문에 Transpose)

In [16]:
csr_data_transpose = csr_data.T
csr_data_transpose

<3628x6040 sparse matrix of type '<class 'numpy.int64'>'
	with 836483 stored elements in Compressed Sparse Column format>

### model fitting

In [17]:
als_model.fit(csr_data_transpose)

  0%|          | 0/15 [00:00<?, ?it/s]

## 6. 내가 선호하는 5가지 영화 중 하나와 그 외의 영화 하나를 골라 훈련된 모델이 예측한 나의 선호도를 파악

### 나의 아이디 hibiscircus 입력

In [18]:
hibiscircus = user_to_idx['hibiscircus']

### 내가 선호하는 영화 중 Toy Story (1995)를 입력

In [19]:
terminator = movie_to_idx[1]
terminator_vector = als_model.item_factors[terminator]
np.dot(hibiscircus, terminator_vector)

array([  65.77117529,  137.33876611,  -89.37082774,  -50.74254747,
        -26.68707429,   24.30398941,  142.97619515,   67.49088749,
       -111.24888387,   98.36111262,  -77.41057521,   73.90983516,
        -35.78350014,   37.195408  ,   61.54551351,  100.67513443,
         91.03457859,  124.76360231, -150.10127392,  125.19382423,
        106.74331407,  -22.99377515,  -54.1294638 ,   15.81750158,
        112.62967272,  121.66950729,  -32.07788528,   37.86810007,
         71.6993053 ,  -14.67810444,  109.62065022,   57.9662982 ,
        260.0004036 ,   96.52877467,    1.17490017,  186.82041702,
       -279.33682423,  -82.66777635, -167.68198149,  -62.69994288,
        -29.50185183,  216.6662456 ,  146.45227846,  -69.38138025,
        -94.1369975 ,  170.75802264,   54.07931792,  -10.71229528,
        103.78270517,  -52.02567671,   30.1971506 ,   34.91279485,
         69.49235247, -214.67026427, -106.22478006,    0.94129763,
         46.68533499,   86.25581049,   57.8947239 , -194.60334264,
        -57.70220559, -160.09456629,  310.90172946,  155.99775624,
         63.75687576,  191.81026911,   72.15718731,  -97.24551874,
         36.02999445,   23.48200003,  113.48702321,  208.2923568 ,
        -25.25149956,  -58.7132389 ,  -46.27871246,  138.62056804,
          9.09891599,  109.56092061,  300.47172478,  137.55759471,
         49.0492524 ,  -81.87491359, -171.08364462,   41.27520187,
         77.90999236,   57.08458342,  275.27404093, -139.39888647,
        -98.78725132,  -14.7428312 ,    4.44808639, -102.17993814,
        124.56704578,   67.60129728,   14.23777573,   38.84355153,
        129.24786743, -112.28960764,   75.03537273,    6.06242672])

### 그 외 영화 Jumanji (1995)를 입력

> 영화이름과 인덱스는 1. '영화 제목을 보기 위해 다른 파일 불러오기'에서 movie.dat을 불러왔을 때의 출력을 참조하였습니다.

In [20]:
jumanji = movie_to_idx[2]
jumanji_vector = als_model.item_factors[jumanji]
np.dot(hibiscircus, jumanji_vector)

array([-8.54272843e+01, -5.79723049e+01,  1.16220750e+02, -9.38288895e+01,
        6.01614626e+01, -4.28293387e+01,  4.30270370e+01, -2.95891572e+01,
       -1.19542537e+02,  7.94709166e-02, -1.10046779e+01, -2.82936180e+01,
        4.78329225e+01,  1.37236540e+02,  1.30099695e+02,  1.11900240e+02,
        4.06734457e+01,  1.30779803e+02, -9.12471755e+01,  3.88136445e+01,
        6.22832585e+01, -1.09116429e+01,  4.91051688e+01,  3.03076194e+01,
       -5.71603928e+00,  1.35074395e+02,  1.85870401e+02,  5.05024430e+00,
        6.15122516e+01,  1.56141580e+02,  2.86441779e+01, -6.23441974e+01,
        9.07724151e+01,  3.89637314e+00, -8.73178333e+01,  1.68185229e+02,
        8.06778355e+01,  5.94934302e+01,  2.48031760e+01,  1.75168062e+01,
        1.13908060e+00,  6.18995183e+00, -4.46603325e+01, -1.57892341e+01,
       -9.95906525e+00,  8.77818233e+01, -5.65344481e+00, -1.14237202e+01,
        2.30722926e+01,  2.93467433e+02,  4.90902420e+01,  2.44241067e+01,
        7.90806041e+00, -4.75666026e+01,  1.00247758e+02,  8.90232430e+01,
        9.21111289e+01, -3.50408578e+00, -6.05554530e+01, -5.83105646e+01,
        9.29350657e+01,  2.76924971e+00,  5.42241200e+01,  7.40884573e+00,
        8.55567322e+01, -2.10799386e+00, -1.89954458e+01,  3.26660645e+01,
        2.53028996e+01, -1.08859695e+01, -1.01211497e+02,  1.06022037e+02,
       -1.18496605e+02, -2.38764387e+00,  6.88620364e+01,  7.38232329e+01,
       -5.27629831e+01,  9.15898052e+01,  3.09596564e+01,  2.82003369e+01,
        8.62730545e+01,  3.12855175e+01,  6.64016770e+01,  1.73964502e+02,
        1.88886803e+02,  2.06484586e+02,  8.36809975e+01, -3.76066002e+01,
        1.27463842e+02,  2.40298339e+02, -1.23661214e+02, -2.91817441e+00,
        1.61996218e+02, -5.45621379e+01,  1.20564858e+02,  6.81115580e+01,
        2.49651096e+01,  2.01168155e+02,  9.88570821e+01,  1.60662301e+02])

> 제가 선호하는 영화Toy Story (1995)에서의 값은 0.45919308이고, 그 외 영화Jumanji (1995)에서는 0.03269084의 값을 얻은 걸로 보아 제가 선호하는 영화에 좀 더 점수를 잘 주는 것으로 보입니다. 그렇다면 Toy Story (1995)유사한 영화들과의 유사도를 살펴보겠습니다.

###  Toy Story (1995)유사한 영화들과의 유사도

In [21]:
movie_id = movie_to_idx[1]
similar_movie = als_model.similar_items(movie_id, N=15)
similar_movie

[(40, 0.9999998),
 (50, 0.8066213),
 (322, 0.59837276),
 (33, 0.59290063),
 (4, 0.56323045),
 (110, 0.5145579),
 (330, 0.4899802),
 (20, 0.46685308),
 (10, 0.45889544),
 (255, 0.39856395),
 (34, 0.39320377),
 (126, 0.36154822),
 (32, 0.35314173),
 (16, 0.33490652),
 (545, 0.33319443)]

> 어떤 영화인지 살펴봐주는 함수를 만들어보겠습니다.

## 7.내가 좋아하는 영화와 비슷한 영화를 추천받기

In [22]:
def get_similar_movie(favorite_movie):
    movie_id = movie_to_idx[favorite_movie]
    similar_movie = als_model.similar_items(movie_id, N=15)
    idx_to_movie = {v:k for k,v in movie_to_idx.items()}
    recommand_list = [idx_to_movie[i[0]] for i in similar_movie]
    for movie in recommand_list:
        print(movies[movies['movie_id'] == movie], '--------------------------------------------------------------------', sep='\n')

get_similar_movie(1)

   movie_id             title                        genre
0         1  Toy Story (1995)  Animation|Children's|Comedy
--------------------------------------------------------------------
      movie_id               title                        genre
3045      3114  Toy Story 2 (1999)  Animation|Children's|Comedy
--------------------------------------------------------------------
    movie_id        title                    genre
33        34  Babe (1995)  Children's|Comedy|Drama
--------------------------------------------------------------------
     movie_id           title                                genre
584       588  Aladdin (1992)  Animation|Children's|Comedy|Musical
--------------------------------------------------------------------
      movie_id                 title                        genre
2286      2355  Bug's Life, A (1998)  Animation|Children's|Comedy
--------------------------------------------------------------------
      movie_id                 title           genre
1245      1265  Groundhog Day (1993)  Comedy|Romance
--------------------------------------------------------------------
     movie_id                  title                         genre
360       364  Lion King, The (1994)  Animation|Children's|Musical
--------------------------------------------------------------------
      movie_id                 title   genre
2252      2321  Pleasantville (1998)  Comedy
--------------------------------------------------------------------
     movie_id                        title                         genre
591       595  Beauty and the Beast (1991)  Animation|Children's|Musical
--------------------------------------------------------------------
      movie_id                                title   genre
1854      1923  There's Something About Mary (1998)  Comedy
--------------------------------------------------------------------
      movie_id         title                 genre
1838      1907  Mulan (1998)  Animation|Children's
--------------------------------------------------------------------
      movie_id                       title           genre
2327      2396  Shakespeare in Love (1998)  Comedy|Romance
--------------------------------------------------------------------
      movie_id            title                                          genre
1526      1566  Hercules (1997)  Adventure|Animation|Children's|Comedy|Musical
--------------------------------------------------------------------
      movie_id          title                 genre
2618      2687  Tarzan (1999)  Animation|Children's
--------------------------------------------------------------------
     movie_id                     title                      genre
314       317  Santa Clause, The (1994)  Children's|Comedy|Fantasy
--------------------------------------------------------------------

## 8. 내가 가장 좋아할 만한 영화들을 추천받기

In [23]:
def recommand_movie(user_id):
    user = user_to_idx[user_id]
    movie_recommended = als_model.recommend(user, csr_data, N=20, filter_already_liked_items=True)
    idx_to_movie = {v:k for k,v in movie_to_idx.items()}
    recommand_list = [idx_to_movie[i[0]] for i in movie_recommended]
    for movie in recommand_list:
        print(movies[movies['movie_id'] == movie], '--------------------------------------------------------------------', sep='\n')

recommand_movie(hibiscircus)

     movie_id                    title         genre
898       910  Some Like It Hot (1959)  Comedy|Crime
--------------------------------------------------------------------
      movie_id               title           genre
2992      3061  Holiday Inn (1942)  Comedy|Musical
--------------------------------------------------------------------
      movie_id                   title    genre
3606      3675  White Christmas (1954)  Musical
--------------------------------------------------------------------
     movie_id                           title           genre
886       898  Philadelphia Story, The (1940)  Comedy|Romance
--------------------------------------------------------------------
      movie_id                                              title  \
1178      1196  Star Wars: Episode V - The Empire Strikes Back...

                                  genre
1178  Action|Adventure|Drama|Sci-Fi|War
--------------------------------------------------------------------
     movie_id           title             genre
916       928  Rebecca (1940)  Romance|Thriller
--------------------------------------------------------------------
      movie_id                       title    genre
1022      1035  Sound of Music, The (1965)  Musical
--------------------------------------------------------------------
     movie_id                         title   genre
893       905  It Happened One Night (1934)  Comedy
--------------------------------------------------------------------
      movie_id                             title               genre
1247      1267  Manchurian Candidate, The (1962)  Film-Noir|Thriller
--------------------------------------------------------------------
     movie_id                                   title  \
590       594  Snow White and the Seven Dwarfs (1937)

                            genre
590  Animation|Children's|Musical
--------------------------------------------------------------------
      movie_id                   title           genre
3602      3671  Blazing Saddles (1974)  Comedy|Western
--------------------------------------------------------------------
      movie_id                 title                genre
2872      2941  South Pacific (1958)  Musical|Romance|War
--------------------------------------------------------------------
      movie_id                      title          genre
1258      1278  Young Frankenstein (1974)  Comedy|Horror
--------------------------------------------------------------------
      movie_id                    title            genre
3366      3435  Double Indemnity (1944)  Crime|Film-Noir
--------------------------------------------------------------------
      movie_id                    title                                genre
2009      2078  Jungle Book, The (1967)  Animation|Children's|Comedy|Musical
--------------------------------------------------------------------
      movie_id                       title                         genre
1019      1032  Alice in Wonderland (1951)  Animation|Children's|Musical
--------------------------------------------------------------------
     movie_id                        title                         genre
591       595  Beauty and the Beast (1991)  Animation|Children's|Musical
--------------------------------------------------------------------
      movie_id                                   title   genre
1120      1136  Monty Python and the Holy Grail (1974)  Comedy
--------------------------------------------------------------------
     movie_id                      title           genre
896       908  North by Northwest (1959)  Drama|Thriller
--------------------------------------------------------------------
      movie_id                 title          genre
1227      1247  Graduate, The (1967)  Drama|Romance
--------------------------------------------------------------------

## 9. 내가 좋아할만한 영화에 대해 기여해준 영화와 기여도 확인

> 저에게 가장 우선순위로 추천해준 Some Like It Hot (1959) 영화에 대해 어떤 영화가 얼마나 기여를 해주었는지 확인해보겠습니다.

### 기여도

In [24]:
some_like_it_hot = movie_to_idx[910]
explain = als_model.explain(hibiscircus, csr_data, itemid=some_like_it_hot)
idx_to_movie = {v:k for k,v in movie_to_idx.items()}
[(idx_to_movie[i[0]], i[1]) for i in explain[1]]

[(1, 0.028402689564688152),
 (2858, 0.020559371371981095),
 (1580, 0.009040752119783228),
 (1240, 0.006229663756806177),
 (2762, -0.009698474184818614)]

### 기여한 영화

In [25]:
contribution = [idx_to_movie[i[0]] for i in explain[1]]
for movie in contribution:
    print(movies[movies['movie_id'] == movie], '--------------------------------------------------------------------', sep='\n')

   movie_id             title                        genre
0         1  Toy Story (1995)  Animation|Children's|Comedy
--------------------------------------------------------------------
      movie_id                   title         genre
2789      2858  American Beauty (1999)  Comedy|Drama
--------------------------------------------------------------------
      movie_id                title                           genre
1539      1580  Men in Black (1997)  Action|Adventure|Comedy|Sci-Fi
--------------------------------------------------------------------
      movie_id                   title                   genre
1220      1240  Terminator, The (1984)  Action|Sci-Fi|Thriller
--------------------------------------------------------------------
      movie_id                    title     genre
2693      2762  Sixth Sense, The (1999)  Thriller
--------------------------------------------------------------------

> Some Like It Hot (1959)영화의 장르는 Comedy|Crime입니다. Toy Story (1995)는 장르가 comedy이므로 높은 기여도를 준 걸로 보입니다. 이에 반해 Sixth Sense, The (1999)는 장르가 Thriller로 Comedy|Crime와는 거리가 멀어 낮은 기여도를 준 걸로 보입니다.

## 회고

영화 id와 영화이름을 매칭하는 것의 어려움
- 처음에는 rating.dat과 movies.dat을 합쳐서 분석하려고 했습니다. 하지만, 필요없는 컬럼이 생겨서 난잡하기만 했고, 결국에는 영화를 인기순으로 출력하며 count를 같이 출력할때만 만들었습니다. 그 이외에는 필요할 때마다 호출하는 식으로 하기로 하였습니다.

CSR matrix의 생성의 어려움
- CSR matrix의 생성을 위해 csr_matrix를 사용하였을 때 shape를 지정해주는 경우 에러가 발생하였습니다. 이로 인해 원인을 찾다가 shape를 지정해주지 않아도 자동으로 설정해준다는 것을 알게되어 지우니 해결되었습니다.


## 루브릭

사용자와 아이템 개수를 바탕으로 정확한 사이즈로 만들었다.
- 4.CSR matrix 만들기에서 확인이 가능합니다. 6040x3628의 크기로 만들어졌습니다.

사용자와 아이템 벡터 내적수치가 의미있게 형성되었다.
- 6.내가 선호하는 5가지 영화 중 하나와 그 외의 영화 하나를 골라 훈련된 모델이 예측한 나의 선호도를 파악에서 확인이 가능합니다. 제가 선호하는 영화의 내적수치는 0.45919308, 그 외 영화의 내적수치는 0.03269084가 나온 것으로 보아 의미가 있다고 볼 수 있습니다. (원래 rating이라는 변수는 명시적 평가이지만 이번 프로젝트를 위해 암묵적 평가로 보았다. 따라서, 내적수치는 의미가 있을 수 밖에 없다.)

MF모델이 예측한 유저 선호도 및 아이템간 유사도, 기여도가 의미있게 측정되었다.
- 6.내가 선호하는 5가지 영화 중 하나와 그 외의 영화 하나를 골라 훈련된 모델이 예측한 나의 선호도를 파악과 9. 내가 좋아할만한 영화에 대해 기여해준 영화와 기여도 확인 확인이 가능합니다.